﻿@{
    ViewBag.Title = "Index";
}
<script>
    (function() {
        
        regWhy = function(textwToSearch, pattern) {

            var matches = new RegExp(pattern, "gi").test(textwToSearch);
            var results = new RegExp(pattern, "gi").exec(textwToSearch);
           
            
            return {
                matches: matches,
                results: results,
                thismatch: regWhy.matches,
                getMatches: function() { return matches; },
            };


        }

        
    }());
    var re = regWhy("This is a Test", "(te)(st)");
    var re2 = regWhy("This is a that", "(this|that)");

    
    function ry(pattern, textwToSearch) {
        var matches = new RegExp(pattern, "gi").test(textwToSearch);
        var results = new RegExp(pattern, "gi").exec(textwToSearch);
        var count = results.length;
        
        return {
            matches: matches,
            results: results,
            count: count,
            obj: function () {
                var item = "items";
                return {
                    getItem:function() {
                        return item;
                    }
                }

            }
    };
    }

    var ry1 = ry("test", "This is a test");
    function getMatches(string, regex, index) {
        index || (index = 1); // default to the first capturing group
        var matches = [];
        var match;
        while (match = regex.exec(string)) {
            matches.push(match[index]);
        }
        return matches;
    }


    // Example :
    var myString = 'something format_abc something format_def something format_ghi';
    var myRegEx = /(?:^|\s)format_(.*?)(?:\s|$)/g;

    // Get an array containing the first capturing group for every match
    var matches = getMatches(myString, myRegEx, 1);

    // Log results
    document.write(matches.length + ' matches found: ' + JSON.stringify(matches))
    console.log(matches);
    debugger ;
    </script>
<h2>Reg Why</h2>
<script>
    </script>