﻿
@{
    ViewBag.Title = "RegWhy";
    Layout = null;
}


<script src="~/Scripts/RegWhy.js"></script>
<script>
    var item =regWhy("this is my test");
    item.appendToFind(regYExpressions.specialCharacters.test);
    var result = item.search();
    console.log(result);
</script>
